h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff0000;
    font-size: 60px;
    text-align: center;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 20px;
}
body{
    background-color: rgb(255,222,173);
}
ul{
    list-style-type: none;
    text-align: center;
    
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: aliceblue;
    height:  50px;
    width:  350px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
img{
    width: 40%;
    height: auto;
}
.foto{
    text-align: center;
}